<%
project = project_form
%>

<%= form_for(project, :html => {
    :id => dom_id(project, 'edit_form'),
    :class => "inline-form edit-project-form",
    :method => :put }) do
  -%>
  <div id="edit_error_status"><%= get_list_of_error_messages_for(@project) %></div>
  <%= source_view_tag( @source_view ) -%>

  <label for="project_name"><%= Project.human_attribute_name(:name) %>:</label><br/>
  <%= text_field :project, 'name', :class => 'project-name', :tabindex => next_tab_index  %><br/>

  <label for="project_description"><%= Project.human_attribute_name(:description) %> (<%= t('common.optional') %>):</label><br/>
  <%= text_area :project, 'description', "cols" => 30, "rows" => 4, :class => 'project-description', :tabindex => next_tab_index  %><br/>

  <label for="project_done"><%= Project.human_attribute_name(:project_status) %>:</label><br/>
  <% ['active', 'hidden', 'completed'].each do | state | %>
    <%= radio_button(:project, 'state', state, {:tabindex => next_tab_index}) %> <%= t('states.'+state) %>
  <% end %><br/>

  <label for="project[default_context_name]"><%= Project.human_attribute_name(:default_context_name) %></label><br/>
  <%= text_field_tag("project[default_context_name]", project.default_context.name, {:tabindex=>next_tab_index,:size=> 25}) %>
  <br/>

  <label for="project[default_tags]"><%= Project.human_attribute_name(:default_tags) %></label><br/>
  <%= text_field_tag("project[default_tags]", project.default_tags, {:tabindex=>next_tab_index,:size=> 25}) %>
  <br/>

  <input type="hidden" name="wants_render" value="true" />
  <div class="submit_box">
    <div class="widgets" id="<%= dom_id(project, 'widgets') %>">
      <button type="submit" class="positive" id="<%= dom_id(project, 'submit') %>" tabindex="<%=next_tab_index%>">
        <%=image_tag("accept.png", :alt => "") + t('common.update')%>
      </button>
      <a href="#" id="<%= dom_id(project, 'cancel') %>" class="negative">
        <%=image_tag("cancel.png", :alt => "") + t('common.cancel')%>
      </a>
      <a href="<%=set_reviewed_project_path(project)+"?_source_view=#{@source_view}"%>" id="<%= dom_id(project, 'reviewed') %>" class="reviewed">
        <%=image_tag("reviewed.png", :alt => "") + t('common.reviewed')%>
      </a>
    </div>
  </div>
  <br/><br/>
<%
end
-%>